* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #3ed8ff, #1e69de);
  display: flex;
  justify-self: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.todo-container h2 {
  text-align: center;
}

.input-section {
  display: flex;
  margin-bottom: 15px;
  margin-top: 10px;
}

#todo-input {
  flex: 1;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

#add-btn {
  background: #a076f9;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

ul {
  list-style: none;
}

li {
  background: #f2f2f2;
  margin: 5px 0;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.delete-btn {
  background: #f44336;
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

.footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#clear-btn {
  background: #a076f9;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}
